.main-screen__user-component,
.main-screen__user-component__column:first-child {
  display: flex;
  align-items: center;
}

.main-screen__user-component__column__avatar {
  /* Middle Size (Not Screen) */
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.main-screen__user-component__column__text__title {
  font-weight: 600;
  font-size: 22px;
}

.main-screen__user-component__column__text__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.main-screen__user-component__column__avatar--xl {
  width: 80px;
  height: 80px;
}

.main-screen__user-component__column__avatar--sm {
  width: 80px;
  height: 80px;
}
