@media screen and (max-width: 400px) {
  .welcome-header {
    margin: 70px 0px;
  }

  .welcome-header__text {
    width: 70%;
  }
  #login-form input[type="submit"] {
    padding: 15px 0px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 400px) {
  .find-user {
    font-size: 18px;
  }
}

@media screen and (min-width: 750px) {
  .find-user {
    font-size: 20px;
  }
}

/* Surface Duo compatibility */
@media screen and (screen-spanning: single-fold-vertical) {
  .screen {
    display: flex;
    flex-direction: row;
  }

  .welcome-header {
    flex: 0 0 env(fold-left);
    margin: 0;
    height: calc(env(fold-height) - 26px);
    justify-content: center;
  }

  .welcome-header__title {
    font-size: 40px;
  }

  .welcome-header__text {
    font-size: 25px;
    width: 75%;
  }

  .screen__login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(env(fold-height) - 26px);
    width: 50%;
    transform: translateX(env(fold-width));
  }

  #login-form {
    margin: 0;
    width: 70%;
  }
}
